{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Login</h1>
    <form action="/admin/login_check" method="post" class="form-login" >
        <div class="form-entry">
            <label for="email">Enter your email: </label>
            <input type="email" name="_username" id="email" required />
        </div>
        <div class="form-entry">
            <label for="password">Enter your password: </label>
            <input type="password" name="_password" id="password" required />
        </div>
        <input type="submit" value="Login" />
    </form>
</div>
{% endblock %}
