body {
    color: white;
    background-color: rgba(0, 0, 0, .7);
    background-image: url("./../img/tavern.webp");
    background-repeat: no-repeat;
}
button {
    margin : 5px 5px 5px 5px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    color: white;
    background-color: rgba(0, 0, 0, .7);
    background-image: url("./../img/UIbox.webp");
    background-size: 100%;
    background-repeat: no-repeat;
    opacity:0.9;
    margin-left: 30px;
}
.flexed {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    background-color: rgba(0, 0, 0, .7);
    color: white;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.required {
    color: white;
}
.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    color: white;
    padding: 43px;

}
.btn-object {
    width: 60px;
    height: 30px;
    margin: 10px;
}
span {
    color: white;
}
#rand-response {
    opacity:0.9;
    background-image: url("./../img/UIbox2.webp");
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 30px 0 33px 0;
    width: 300px;
}
#menu {
    display: flex;
}
#results {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}